In [1]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_excel('../2020/20년도_1월_CO오염도.xlsx')
df = df.drop([0,2,3])
df = df.iloc[:, 0:9]
df = df.rename(columns=df.iloc[0])
df = df.drop([1])
df = df.drop([415, 416])
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

df_merge1 = df_seoul.append(df_incheon)
df_merge2 = df_gg.append(df_daegu)
df = df_merge1.append(df_merge2)

In [30]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)

df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_mean = df_gg_south_a.mean()
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b
#df_gg_south_mean = df_gg_south['월평균\n(ppm)'].mean()
#df_gg_south_mean

    시.도 시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
121  경기  수원    인계동  131112            99.19                31
122  경기  수원    신풍동  131111            99.19                31
123  경기  수원    광교동  131113            98.65                31
124  경기  수원    영통동  131114            98.79                31
125  경기  수원    천천동  131115            89.24                27
126  경기  수원    고색동  131117            99.19                31
127  경기  수원   호매실동  131118            99.19                31
128  경기  안양   안양6동  131141            98.52                31
129  경기  안양    부림동  131142            99.59                31
130  경기  안양    호계동  131144            99.05                31
131  경기  안양   안양2동  131145            98.79                31
132  경기  성남    단대동  131121            96.37                29
133  경기  성남    정자동  131123           100.00                31
134  경기  성남    수내동  131124            96.50                29
135  경기  성남    복정동  131126            99.86                31
136  경기  성남   상대원동  131129            59.27                18
137  경기  성남    운중동  131128            99.86                31
140  경기  광명    철산동  131161            95.29                29
141  경기  광명    소하동  131163            98.11                31
142  경기  안산    고잔동  131191            74.46                23
143  경기  안산    원시동  131192            99.05                31
144  경기  안산    본오동  131193            99.32                31
145  경기  안산    부곡동  131195            99.05                31
146  경기  안산    대부동  131196            98.79                31
147  경기  안산    호수동  131197            98.79                31
148  경기  평택    비전동  131341            99.59                31
149  경기  평택     안중  131342            99.73                31
150  경기  평택    평택항  131343            99.59                31
151  경기  평택    송북동  131344            99.19                31
152  경기  과천    별양동  131201            99.19                31
153  경기  과천    과천동  131202            98.79                31
156  경기  의왕   부곡3동  131222            93.01                28
157  경기  의왕    고천동  131223            99.05                31
163  경기  군포     당동  131501            99.46                31
164  경기  군포    산본동  131502            99.59                31
165  경기  시흥    정왕동  131231            99.46                31
166  경기  시흥   시화산단  131232            99.46                31
167  경기  시흥    대야동  131233            99.19                31
168  경기  시흥    목감동  131234            99.46                31
169  경기  부천   소사본동  831151            99.19                31
170  경기  부천     내동  831152            99.05                31
171  경기  부천    중2동  831153            99.19                31
172  경기  부천    오정동  831154            99.73                31
177  경기  용인   김량장동  131411            99.86                31
178  경기  용인     수지  131412            99.86                31
179  경기  용인     기흥  131413            99.59                31
180  경기  용인    모현읍  131415           100.00                31
181  경기  용인    이동읍  131416            99.32                31
182  경기  용인    백암면  131417            99.73                31
183  경기  김포    사우동  131471            99.73                31
184  경기  김포    고촌읍  131472            99.46                31
185  경기  김포    통진읍  131473            99.46                31
186  경기  김포  한강신도시  131474            99.32                31
187  경기  오산    오산동  131531            97.58                30
188  경기  하남    신장동  131541            98.38                31
189  경기  화성    남양읍  131551           100.00                31
190  경기  화성     향남  131552           100.00                31
191  경기  화성    동탄동  131553           100.00                31
192  경기  화성    우정읍  131554           100.00                31
193  경기  화성    청계동  131555           100.00                31

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
121                 744                738        0.7
122                 744                738        0.7
123                 738                734        0.7
124                 738                735        0.8
125                 664                664        0.7
126                 744                738        0.8
127                 744                738        0.6
128                 737                733        0.9
129                 744                741        0.7
130                 744                737        0.6
131                 738                735        0.7
132                 714                717        0.7
133                 744                744        1.0
134                 716                718        0.7
135                 744                743        0.8
136                 438                441    0.90000
137                 744                743        0.6
140                 711                709        0.7
141                 743                730        0.7
142                 555                554    0.60000
143                 744                737        0.7
144                 744                739        0.9
145                 744                737        0.8
146                 738                735        0.6
147                 738                735        0.6
148                 744                741        0.5
149                 744                742        0.4
150                 744                741        0.5
151                 744                738        0.8
152                 744                738        0.7
153                 744                735        0.8
156                 693                692        0.8
157                 738                737        0.6
163                 744                740        0.6
164                 744                741        0.5
165                 744                740        0.6
166                 744                740        0.6
167                 744                738        0.7
168                 744                740        0.7
169                 744                738        0.6
170                 744                737        0.6
171                 744                738        0.6
172                 744                742        0.5
177                 744                743        0.7
178                 744                743        0.7
179                 738                741        0.7
180                 744                744        0.6
181                 744                739        0.7
182                 744                742        0.7
183                 744                742        0.5
184                 744                740        0.4
185                 744                740        0.4
186                 744                739        0.7
187                 731                726        0.6
188                 730                732        0.6
189                 744                744        0.6
190                 744                744        0.5
191                 744                744        0.7
192                 744                744        0.6
193                 744                744        0.6

    시.도  월평균\n(ppm)
0  경기남부     0.66000

In [31]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
138  경기  의정부   의정부동  131131            99.46                31
139  경기  의정부  의정부1동  131132            99.46                31
158  경기   고양    행신동  131381            99.46                31
159  경기   고양    식사동  131382            95.96                29
160  경기   고양    신원동  131384            99.59                31
161  경기   고양    주엽동  131385            99.19                31
194  경기   양주    백석읍  131561            99.46                31
195  경기   양주     고읍  131562            99.59                31
196  경기  동두천    보산동  131571            93.27                28
201  경기   파주    금촌동  131371            99.19                31
202  경기   파주     운정  131372            94.89                28
203  경기   파주    파주읍  131374            90.32                28
204  경기   포천    선단동  131453            98.92                31
205  경기   포천    일동면  131454            99.05                31
208  경기   연천     연천  131601            91.93                27

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
138                 744                740        0.7
139                 744                740        0.8
158                 744                740        0.7
159                 713                714        0.5
160                 744                741        0.7
161                 738                738        0.7
194                 744                740        0.6
195                 744                741        0.5
196                 694                694        0.4
201                 744                738        0.8
202                 699                706        0.6
203                 670                672        0.6
204                 744                736        0.8
205                 744                737        0.6
208                 681                684        0.6

    시.도  월평균\n(ppm)
0  경기북부     0.64000

In [33]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구  측정소명 측정소\n코드 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day)  \
154  경기   구리   교문동  131211            99.32                31
155  경기   구리   동구동  131212            99.32                31
162  경기   광주   경안동  131392            97.84                30
173  경기  남양주   금곡동  131241            99.86                31
174  경기  남양주   오남읍  131242            99.86                31
175  경기  남양주   별내동  131243            99.86                31
176  경기  남양주   화도읍  131244            99.59                31
197  경기   안성   봉산동  131581            99.19                31
198  경기   이천   창전동  131442           100.00                31
199  경기   이천  장호원읍  131443            99.73                31
200  경기   이천   부발읍  131444            94.22                29
206  경기   여주   중앙동  131591            99.46                31
207  경기   여주   대신면  131592            99.59                31
209  경기   가평   가평읍  131611            89.24                26
210  경기   양평    양평  131621            96.10                29

    유효\n측정\n횟수\n(8hour) 유효\n측정\n시간\n(hour) 월평균\n(ppm)
154                 744                739        0.5
155                 744                739        0.5
162                 730                728        0.7
173                 744                743        0.5
174                 744                743        0.6
175                 744                743        0.6
176                 744                741        0.6
197                 744                738        0.6
198                 744                744        0.6
199                 744                742        0.6
200                 697                701        0.5
206                 744                740        0.8
207                 739                741        0.5
209                 659                664        0.6
210                 715                715        0.6

    시.도  월평균\n(ppm)
0  경기동부     0.58667

In [16]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

  시.도  월평균\n(ppm)
0  인천     0.68000

In [17]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.72143

In [34]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_incheon_b, df_daegu_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

     시.도   시군구 월평균\n(ppm)
0     서울    중구        0.7
1     서울   종로구        0.7
2     서울   중랑구        0.7
3     서울  동대문구        0.6
4     서울   은평구        0.8
5     서울   마포구        0.5
6     서울  영등포구        0.9
7     서울   동작구        0.6
8     서울   관악구        0.7
9     서울   강남구        0.7
10    서울   금천구        0.7
11    서울   강동구        0.6
12    서울   강북구        0.6
13    서울   성북구        0.8
14    서울   용산구        0.6
15    서울   광진구        0.8
16    서울   성동구        0.6
17    서울   도봉구        0.7
18    서울  서대문구        0.9
19    서울   구로구        0.5
20    서울   서초구        0.5
21    서울   강서구        0.7
22    서울   송파구        0.7
23    서울   양천구        0.7
24    서울   노원구        0.7
25  경기남부   NaN    0.66000
26  경기북부   NaN    0.64000
27  경기동부   NaN    0.58667
28    인천   NaN    0.68000
29    대구   NaN    0.72143

In [35]:
df_crop_2.to_csv("20년도_1월_CO오염도_최종.csv")